# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
env311/
venv/

# TensorFlow Models
*.h5
*.keras

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/